.home-body {
    background-color: #1c1d25;;
}

.hero-area {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    .hero-text {
        margin-left: 80px;
        margin-bottom: 200px;

        .button {
            width: 160px;
            height: 50px;
            border-radius: 30px;
            background-color: coral;
            text-align: center;
            font-size: 30px;
            font-weight: 300;
            padding-top: 5px;
            margin-top: 20px;
        }
        
        .button:hover {
            background-color: #ef744b;
        }
        
        .button:active {
            background-color: #A9A9A9;
            color: #808080;
        }
    }
    .socials {
        display: flex;
        gap: 10px;
        flex-direction: column;
        height: 30%;
        
        .social {
            margin: 20px;

            img{
                height: 50px;
                width: 50px;
                object-fit: cover;
            }
        }
    }
}


.button {
    width: 160px;
    height: 50px;
    border-radius: 30px;
    background-color: coral;
    text-align: center;
    font-size: 30px;
    font-weight: 300;
    padding-top: 5px;
    margin-top: 20px;
}

.button:hover {
    background-color: #ef744b;
}

.button:active {
    background-color: #A9A9A9;
    color: #808080;
}